* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-family: system-ui, sans-serif;
}
form {
  margin: 1rem 0;
}
form > input {
  width: 200px;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}
.textContainer {
  padding: 0.5rem;
}

.btn {
  background-color: #0a0a0a;
  padding: 0.5rem;
  color: #fafafa;
}

p {
  padding: 0.5rem;
  font-weight: 700;
  font-size: 0.95rem;
}
