* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, sans-serif;
}
h2 {
  font-size: 2rem;
}
h2,
h3,
button {
  font-weight: 400;
  margin-top: 1rem;
}
.joke-container {
}
#joke {
  display: none;
  padding: 2rem;
  max-width: 34ch;
  background-color: #0a0a0a;
  color: #efefef;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}
button {
  background-color: #0a0a0a;
  color: #efefef;
  padding: 0.6rem;
  border: none;
  outline: none;
}
