:root {
  --white: #d9d9d9;
  --blue: #284b63;
}
*:before,
*:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
main {
  width: 375px;
  text-align: center;
  padding: 2rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.5rem;
}
h1 {
  font-family: sans-serif;
  line-height: 1.3;
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  letter-spacing: 1px;
  padding: 1rem auto;
}
blockquote {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
q {
  font-size: 1.2rem;
  padding: 1rem 0;
}
cite {
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
button {
  background-color: var(--white);
  width: 100px;
  border: 2px solid var(--blue);

  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
}
button:hover {
  background-color: var(--blue);
  border: 2px solid var(--white);

  color: var(--white);
}
