:root {
  --white: #eeeeee;

  --black: #252422;
}
*:before,
*:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--white);
  color: var(--white);
}
main {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}
h1 {
  font-family: sans-serif;
  line-height: 1.3;
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  letter-spacing: 1px;
  padding: 1rem auto;
  color: var(--black);
}

button {
  background-color: transparent;
  width: 100px;
  border: 2px solid var(--black);
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
button:hover {
  background-color: var(--black);

  color: var(--white);
  transition: all 0.3s ease-in;
}
