:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}
.flex{
display: flex;
}
.modal{
    width: 100%;
     display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden{
    display: none;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
}.row{
     display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
label{
  padding: .5rem 0;
  font-size: 1rem;
}
input[type="text"]{
  background-color: white;
  border-radius: .3rem;
  padding: .5rem;
  width: 300px;
  border: none;
  outline: none;
}
p{
  font-size: 1rem;
}
button{
  border-radius: .3rem;
  padding: .5rem;
  margin: 1rem;
  outline: none;
}
.sign-up{
    background-color: black;
    color: white;
    border: 2px solid white;
  border-radius: .3rem;
  padding: .5rem;
  margin: 1rem;
  outline: none;
}
.sign-up:hover{
  background-color: white;
  color: black;
      border: 2px solid black;



}
.sign-in{
    background-color:white;
    border: 2px solid black;
  border-radius: .3rem;
  padding: .5rem;
  margin: 1rem;
  outline: none;
  color: black;
}
.sign-in:hover{
  background-color: black;
  color: white;  
    border: 2px solid white;


}
