:root {
  --bcg: #fefefe;
  --gray: gray;
  --green: rgb(65, 184, 65);
  --skyblue: skyblue;
  --lightblue: lightblue;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bcg);
  font-size: 14px;
  font-family: system-ui, sans-serif;
  display: grid;
  place-items: center;
}
.coming-soon-container {
  width: 100%;
  min-height: 100vh;
}
.circles {
}

.circle {
}
.circle:nth-child(1) {
  position: absolute;

  width: 275px;
  height: 275px;
  border-radius: 50%;
  background-color: var(--green);
  top: 25%;
  left: 40%;
  z-index: 2;
}
.circle:nth-child(2) {
  position: absolute;

  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-color: var(--skyblue);
  top: 40%;
  left: 50%;
  z-index: 2;
}
.circle:nth-child(3) {
  position: absolute;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-color: var(--lightblue);
  top: 50%;
  left: 38%;
  z-index: 2;
}
.title {
  position: absolute;
  top: 45%;
  left: 45%;
}
.heading {
  color: var(--bcg);
  font-size: 3rem;
  width: 200px;
  text-align: center;
  letter-spacing: 6px;
  padding-bottom: 1rem;
  line-height: 3.5rem;
}
.paragraph {
  color: var(--gray);
  font-size: 1.25rem;
  text-align: center;
}
.btn {
  position: absolute;
  top: 90%;
  left: 47.5%;
}

button {
  border: 2px solid gray;
  background-color: transparent;
  border-radius: 50vmax;
  padding: 1rem;
}
