:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
}
.container {
}

input[type="text"] {
  padding: 0.75rem;
  outline: none;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 1.5vmax;
}
button {
  background-color: #0a0a0a;
  outline: none;
  border: 2px solid #0a0a0a;
  padding: 0.7rem;
  border-radius: 5vmax;
  color: #fafafa;
  margin: 0 1rem;
}
button:hover {
  color: #0a0a0a;
  background-color: transparent;
}
.text {
  color: #0a0a0a;
  padding: 0 1rem;
}
