* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
input {
  padding: 0.5rem;
}
button {
  background-color: #0a0a0a;
  color: #fafafa;
  outline: none;
  padding: 0.25rem;
  margin: 0 1rem;
}
.input-container {
  margin: 1rem 0;
}
